/*	Superhero text and image (common) 
********************/
.sh-textandimage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
  .sh-textandimage .sh-textandimage__media-wrap {
    position: relative; }
  .sh-textandimage .sh-textandimage__text-wrap p {
    color: #2d2d2d;
    font-size: 15px;
    font-size: 1.09375rem;
    line-height: 1.5; }
    .sh-textandimage .sh-textandimage__text-wrap p.sh-textandimage__sub-heading {
      font-weight: 700;
      margin-bottom: 10px; }
    .sh-textandimage .sh-textandimage__text-wrap p p {
      margin: 0 0 20px; }
    .sh-textandimage .sh-textandimage__text-wrap p:last-child {
      margin-bottom: 0; }
    .sh-textandimage .sh-textandimage__text-wrap p > a {
      display: inline;
      -webkit-transition: all 300ms ease-in;
      transition: all 300ms ease-in; }
      .sh-textandimage .sh-textandimage__text-wrap p > a:link, .sh-textandimage .sh-textandimage__text-wrap p > a:visited {
        -webkit-box-shadow: 0 1px 0 #2d2d2d;
                box-shadow: 0 1px 0 #2d2d2d;
        color: #ffffff;
        color: inherit;
        font-weight: 700;
        padding-bottom: 1px;
        text-decoration: none; }
      .sh-textandimage .sh-textandimage__text-wrap p > a:hover, .sh-textandimage .sh-textandimage__text-wrap p > a:focus {
        -webkit-box-shadow: 0 2px 0 #2d2d2d;
                box-shadow: 0 2px 0 #2d2d2d;
        font-weight: 700;
        padding-bottom: 1px;
        text-decoration: none; }
      .sh-textandimage .sh-textandimage__text-wrap p > a u {
        text-decoration: none; }
  .sh-textandimage .sh-textandimage__text-wrap-inner {
    padding: 40px 15px 30px; }
  .sh-textandimage .sh-textandimage__btn {
    font-size: 14px;
    font-size: 0.875rem; }
    .sh-textandimage .sh-textandimage__btn:link, .sh-textandimage .sh-textandimage__btn:visited {
      color: #2d2d2d;
      border-color: #2d2d2d; }
    .sh-textandimage .sh-textandimage__btn:hover, .sh-textandimage .sh-textandimage__btn:focus {
      background-color: #2d2d2d;
      border-color: #2d2d2d;
      color: #ffffff; }
  @media (max-width: 991px) {
    .sh-textandimage {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .sh-textandimage .sh-textandimage__btn {
      margin-top: 20px; } }
  @media (min-width: 992px) {
    .sh-textandimage {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
    .sh-textandimage .sh-textandimage__text-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 50%; }
      .sh-textandimage .sh-textandimage__text-wrap p {
        font-size: 20px;
        font-size: 1.250375rem;
        line-height: 1.55;
        margin: 0 0 40px; }
      .sh-textandimage .sh-textandimage__text-wrap p > a {
        padding-bottom: 3px; }
    .sh-textandimage .sh-textandimage__text-wrap-inner {
      padding-top: 80px;
      padding-right: calc((100% / 24) + 15px);
      padding-bottom: 80px;
      padding-left: calc((100% / 24) + 15px); }
    .sh-textandimage .sh-textandimage__btn {
      font-size: 16px;
      font-size: 1.000125rem;
      padding: 19px 25px; }
      .sh-textandimage .sh-textandimage__btn:link, .sh-textandimage .sh-textandimage__btn:visited, .sh-textandimage .sh-textandimage__btn:hover, .sh-textandimage .sh-textandimage__btn:focus {
        padding: 19px 25px; }
    .sh-textandimage .sh-textandimage__media-wrap {
      width: 50%; } }
  @media (min-width: 1200px) {
    .sh-textandimage .sh-textandimage__text-wrap p {
      margin-bottom: 45px; }
    .sh-textandimage .sh-textandimage__text-wrap-inner {
      padding-top: 120px;
      padding-right: calc((100% / 12) + 15px);
      padding-bottom: 120px;
      padding-left: calc((100% / 12) + 15px); } }
  @media (min-width: 1660px) {
    .sh-textandimage .sh-textandimage__text-wrap p {
      font-size: 26px;
      font-size: 1.624875rem;
      margin-bottom: 50px; } }

.sh-textandimage.component--col-white {
  background: #ffffff; }
  .sh-textandimage.component--col-white .sh-textandimage__text-wrap-inner {
    background: #ffffff; }

.sh-textandimage.component--col-light-grey {
  background: #f2f2f2; }
  .sh-textandimage.component--col-light-grey .sh-textandimage__text-wrap-inner {
    background: #f2f2f2; }

.sh-textandimage.component--col-dark-grey {
  background: #2d2d2d; }
  .sh-textandimage.component--col-dark-grey .sh-textandimage__text-wrap-inner {
    background: #2d2d2d; }
  .sh-textandimage.component--col-dark-grey h2, .sh-textandimage.component--col-dark-grey h3, .sh-textandimage.component--col-dark-grey h4, .sh-textandimage.component--col-dark-grey h5, .sh-textandimage.component--col-dark-grey p {
    color: #ffffff; }
  .sh-textandimage.component--col-dark-grey .sh-textandimage__text-wrap p > a:link, .sh-textandimage.component--col-dark-grey .sh-textandimage__text-wrap p > a:visited {
    -webkit-box-shadow: 0 1px 0 #ffffff;
            box-shadow: 0 1px 0 #ffffff;
    color: #ffffff; }
  .sh-textandimage.component--col-dark-grey .sh-textandimage__text-wrap p > a:hover, .sh-textandimage.component--col-dark-grey .sh-textandimage__text-wrap p > a:focus {
    -webkit-box-shadow: 0 2px 0 #ffffff;
            box-shadow: 0 2px 0 #ffffff; }
  .sh-textandimage.component--col-dark-grey .sh-textandimage__btn {
    border-color: #ffffff;
    color: #ffffff; }
    .sh-textandimage.component--col-dark-grey .sh-textandimage__btn:hover, .sh-textandimage.component--col-dark-grey .sh-textandimage__btn:focus {
      background-color: #ffffff;
      border-color: #ffffff;
      color: #000000; }

.page-primary-col--orange .sh-textandimage.component--col-white .sh-textandimage__text-wrap p > a:hover, .page-primary-col--orange .sh-textandimage.component--col-white .sh-textandimage__text-wrap p > a:focus, .page-primary-col--orange .sh-textandimage.component--col-light-grey .sh-textandimage__text-wrap p > a:hover, .page-primary-col--orange .sh-textandimage.component--col-light-grey .sh-textandimage__text-wrap p > a:focus {
  color: #d04a02;
  -webkit-box-shadow: 0 2px 0 #d04a02;
          box-shadow: 0 2px 0 #d04a02; }

.page-primary-col--red .sh-textandimage.component--col-white .sh-textandimage__text-wrap p > a:hover, .page-primary-col--red .sh-textandimage.component--col-white .sh-textandimage__text-wrap p > a:focus, .page-primary-col--red .sh-textandimage.component--col-light-grey .sh-textandimage__text-wrap p > a:hover, .page-primary-col--red .sh-textandimage.component--col-light-grey .sh-textandimage__text-wrap p > a:focus {
  color: #e0301e;
  -webkit-box-shadow: 0 2px 0 #e0301e;
          box-shadow: 0 2px 0 #e0301e; }

.page-primary-col--burgundy .sh-textandimage.component--col-white .sh-textandimage__text-wrap p > a:hover, .page-primary-col--burgundy .sh-textandimage.component--col-white .sh-textandimage__text-wrap p > a:focus, .page-primary-col--burgundy .sh-textandimage.component--col-light-grey .sh-textandimage__text-wrap p > a:hover, .page-primary-col--burgundy .sh-textandimage.component--col-light-grey .sh-textandimage__text-wrap p > a:focus {
  color: #e0301e;
  -webkit-box-shadow: 0 2px 0 #e0301e;
          box-shadow: 0 2px 0 #e0301e; }

.page-primary-col--maroon .sh-textandimage.component--col-white .sh-textandimage__text-wrap p > a:hover, .page-primary-col--maroon .sh-textandimage.component--col-white .sh-textandimage__text-wrap p > a:focus, .page-primary-col--maroon .sh-textandimage.component--col-light-grey .sh-textandimage__text-wrap p > a:hover, .page-primary-col--maroon .sh-textandimage.component--col-light-grey .sh-textandimage__text-wrap p > a:focus {
  color: #e0301e;
  -webkit-box-shadow: 0 2px 0 #e0301e;
          box-shadow: 0 2px 0 #e0301e; }

.page-primary-col--rose .sh-textandimage.component--col-white .sh-textandimage__text-wrap p > a:hover, .page-primary-col--rose .sh-textandimage.component--col-white .sh-textandimage__text-wrap p > a:focus, .page-primary-col--rose .sh-textandimage.component--col-light-grey .sh-textandimage__text-wrap p > a:hover, .page-primary-col--rose .sh-textandimage.component--col-light-grey .sh-textandimage__text-wrap p > a:focus {
  color: #d93954;
  -webkit-box-shadow: 0 2px 0 #d93954;
          box-shadow: 0 2px 0 #d93954; }

.sh-textandimage__media-wrap.sh-textandimage__media-wrap--bg-white {
  background: #ffffff; }

.sh-textandimage__media-wrap.sh-textandimage__media-wrap--bg-light-grey {
  background: lightgrey; }

.sh-textandimage__media-wrap.sh-textandimage__media-wrap--bg-transparent {
  background: none; }

/*	end Superhero text and image (common) 
********************/
/*	Superhero text and image (decorative) 
********************/
.sh-textandimage--decorative .sh-textandimage__media-wrap {
  overflow: hidden; }

.sh-textandimage--decorative .sh-textandimage__image-bg {
  background-size: cover;
  background-position: 50% 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

@media (max-width: 991px) {
  .sh-textandimage--decorative .sh-textandimage__text-wrap {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    z-index: 2; }
  .sh-textandimage--decorative .sh-textandimage__text-wrap-inner {
    margin: 0; }
  .sh-textandimage--decorative.sh-textandimage--show-img-mob .sh-textandimage__text-wrap-inner {
    margin: -80px 15px 0 0; }
  .sh-textandimage--decorative.sh-textandimage--show-img-mob .sh-textandimage__media-wrap {
    padding-top: 56.25%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .sh-textandimage--decorative.sh-textandimage--hide-img-mob .sh-textandimage__image-bg {
    display: none; } }

@media (min-width: 992px) {
  .sh-textandimage--decorative {
    min-height: calc(100vh -  127px); }
  .sh-textandimage--decorative .sh-textandimage__image-wrap--decorative .sh-textandimage__image-img {
    display: block;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    left: 50%;
    max-width: 100%;
    position: absolute;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 100%; } }

/*	end Superhero text and image (decoative image) 
********************/
/*	Superhero text and image (content image) 
********************/
.sh-textandimage--content .sh-textandimage__image-img {
  max-width: 100%; }

@media (max-width: 991px) {
  .sh-textandimage--content .sh-textandimage__media-wrap {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .sh-textandimage--content .sh-textandimage__text-wrap {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; } }

/*	end Superhero text and image (content) 
********************/

/*	Authoring admin mode and authoring preview 
********************/

.cq-Editable-dom .sh-textandimage{
  min-height: 530px;
}

/*	end Authoring admin mode and authoring preview 
********************/
